extends layout

block css
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='/components/fullpage.js/jquery.fullPage.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,latin-ext')

block js
  if ENV_DEVELOPMENT
    script(src='http://localhost:35729/livereload.js')
  script(src='/components/jquery/dist/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='/components/fullpage.js/vendors/jquery.slimscroll.min.js')
  script(src='/components/fullpage.js/jquery.fullPage.min.js')
  script(src='/js/index.js')

block content
  #fullpage

    #firstSlide.section
      .row
        //- h1(style={'font-family': 'slim_joe'}) YOLO
        h1(style={'font-weight': 900}) Y O L O
        h2(style={'padding-bottom': '2em'}) Messenger


    #secondSlide.section
      .row
        h1 DRAFT

        .row(style={'margin-bottom': '2em'})
          .col-xs-3.card-icon
            img(src='/img/rocket.png' height='360px')
          .col-xs-9.card-desc
            h2 Interactive Stickers
            h4(style={'margin-bottom':'1.5em'}) You can send stickers that the receiver can interact with. And based on his input the sticker may act differently. 
            .col-xs-3
              img(src='/img/man.png' height='240px')
            .col-xs-3
              img(src='/img/girl.png' height='240px')
            .col-xs-3
              img(src='/img/boy.png' height='240px')

        .row(style={'margin-bottom':'1.5em'})
            .col-sm-5.card.col-sm-offset-1
              .col-xs-3.card-icon.fa.fa-history(style={'color': '#FF9100'})
              .col-xs-9.card-desc
                h2 Schedule Messages
                h4 We know there are times when you want a message to be sent at a certain point of time.
            .col-sm-5.card
              .col-xs-3.card-icon.fa.fa-child(style={'color': '#1BBC9B'})
              .col-xs-9.card-desc
                h2 Friend online notification
                h4 For those who wait for the special ones to get online


    #thirdSlide.section
      .row
        .huge-font Leave us a&nbsp;
          a(href='mailto:hello@stayyolo.com?subject=Hey!') message


    #fourthSlide.section
      .row
        .huge-font Credits
      .row.center-block
        .col-sm-3.card.vcenter.logo
          a(href='https://msg91.com')
            img(src='https://msg91.com/images/startups/msg91Badge.png' width='120' height='90' alt='MSG91 for Startups')
        .col-sm-4.vcenter.logo
          .row
            a(href='http://www.freepik.com')
              img(src='/img/freepik-robots.png')
          .row Vectors designed by Freepik