block css
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Hind')
	link(rel='stylesheet', href='/css/style.css')

block content
	.container
		.row.termslogo
			img.img-responsive.center-block(src='/img/logo3.png')
		.row
			.terms
				h1 Privacy Policy
				p We, StayYolo Pvt. Ltd. ("StayYolo", "we", "our" or "us") think that privacy policy is something that cannot be overlooked.
				p Thus we provide this Privacy Policy to inform users of Yolo Messenger (the “Application”) and the www.stayyolo.com (the “Site”) about our policies and practices regarding any Information you provide to us.

				p By using our services, you agree that we may collect, use and share your Information in accordance with this Privacy Policy, as revised from time to time.

				p The Application is intended for people who are competent to contract under applicable law. Individuals who are less than 18 years old are not permitted to use this application unless the complete Agreement is seen and agreed by parents or their legal guardians under applicable law. You confirm that You are at least 18 year old or otherwise competent to contract including with consent of Your parent/legal guardian as may be required under applicable law. Please contact us if you believe we have any Personal Information from any children under the age of 18 and we will promptly investigate such Personal Information.

				p This Privacy Policy explains how we will handle and safeguard your personal information, and the choices you have to access and control your personal information

				h2 Information Collection
				

				p "Personally Identifiable Information" means any information that either on its own or when combined with certain other information can identify an individual and for the purpose of this Privacy Policy usually limited to Your phone number or address book contact numbers.

				p When you register with us and create a YOLO account to use the Application, it will ask you to provide your phone number. This information is necessary because we send text message via SMS to phone number provided as part of our ongoing efforts to detect and deter unauthorized or fraudulent use of or abuse of our Service. You also provide name and mobile device information to us, when you choose to use the Application.

				p "Last Seen" information is available and displayed to each user who has your mobile phone number in their mobile phone address book or contact book, and reflects the last approximate time the Application has been used or brought to the foreground on your mobile phone. "Last Seen" information is reported to us when a user brings the mobile application to the foreground.

				p "Online" information is available and displayed to each user who has your mobile phone number in their mobile phone address book or contact book, and approximates that you have the Application in foreground.

				p We does not collect names, emails, addresses or other contact information from its users’ mobile address book other than mobile phone numbers.

				p Any messages that are undelivered are held on the our servers until they can be delivered or for a period of 30 days whichever is earlier.

				p We use some Third Party services like Crashlytics (to collect crash data), Parse Push (to push notifications to devices) and MixPanel (to collect analytics data). By agreeing to this Privacy Policy, you also agree the Privacy Policies of the above Services.


				h2 Information Usage
				

				p We neither share nor sell without Your consent Your Personally Identifiable Information such as Your phone number and address book and any other information we may collect with any third parties for use for commercial, advertising and or similar marketing purposes without Your consent.

				p We may share Your Personally Identifiable Information and Contents to deliver the services desired by You to the extent it is necessary to maintain or further develop and enhance our Application and to ensure the functionality and security of our services and to prevent and investigate any fraud and other misuse.

				p We may share non-personally-identifiable information (such as anonymous user usage data, referring / exit pages and URLs, platform types, asset views, number of clicks, etc.) with third-parties to better understand usage patterns for certain content, services, advertisements, promotions, and/or functionality related to the Application.

				p We may disclose the Personally Identifiable Information and available user Contents as required pursuant to applicable laws, a directive or order of a government entity or statutory authority or any judicial or regulatory authority or to law enforcement agencies in any official investigation including but not limited to cyber incidents, prosecution and punishment of offences. You agree that we have the right to monitor the Application electronically from time to time and to disclose information as may be necessary to satisfy any law, regulation or other governmental request, to operate the Application properly for justified purposes that are relevant for the features and functionalities of the Application and related services opted by You, or to protect itself or its subscribers. We may transfer Your Personally Identifiable Information or other information collected, stored, processed by us to any other entity or organization located in India or outside India only in case it is necessary for providing services to You in connection with Application. Except with Your consent including under this Agreement for specified purposes, We will not disclose any Personally Identifiable Information to any third party. We will cooperate with the appropriate law enforcement authorities in investigating claims of illegal activity.

				p You may chose not to submit Personally Identifiable Information through the Application in which case we may not be able to provide You part or full services in connection with the application. If You do not agree with any of the Terms including our Privacy Policy, You may not use the Application.

				h2 Security of Personal Information
				

				p To fulfill our commitment to respecting and protecting your privacy and the confidentiality of your information, we have taken measures to prevent unauthorized access or disclosure, misuse, alternation, or destruction of your information.

				p Because no method of electronic transmission or method of data storage is perfect or impenetrable, we cannot guarantee that your information will be absolutely safe from intrusion during transmission or while stored in our systems.

				p Using unsecured or other unprotected networks to send messages and use of other features through the Application is not recommended.

				h2 Changes to this Privacy Policy
				

				p Any changes in the Privacy Policy by us shall be posted on web to reflect changes in our policy so that the users are always aware of what information we collect, use, and under what circumstances, if any, we may disclose it. Users should periodically review this page for the latest information on our privacy practices. Once posted, those changes are effective immediately. Continued access or use of the Application constitutes Your acceptance of the changes and the amended Policy.


				h2 Contact
				

				p If You have any questions or concerns about this Privacy Policy or its implementation, You may contact us on the following e-mail ID:

				p E-mail: 
					a(href='mailto:hello@stayyolo.com?subject=Regarding Privacy Policy') hello@stayyolo.com