block css
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Hind')
	link(rel='stylesheet', href='/css/style.css')

block content
	.container
		.row.termslogo
			img.img-responsive.center-block(src='/img/logo3.png')
		.row
			.terms
				h1 Terms and Conditions
				h2 Your Acceptance
				p The following terms of service constitute a binding legal agreement (the “Agreement”) between You and StayYolo Ltd. (hereinafter referred to as “StayYolo” / “we”/ “us” / “ours”), (which expression shall include its successors and assigns), setting forth the terms and conditions (“Terms”) under which the Yolo Messenger (the “Application”) and any related services will be licensed to You by StayYolo.
				p By accessing, downloading, installing the Application, You represent to StayYolo that You are competent to enter into a contract (i.e. You a major according to applicable law, of sound mind and not disqualified from entering into a contract under the applicable law) and You have read this Agreement, understand it and agree to be bound by its Terms. Please review the Agreement carefully before accessing, downloading and installation.


				h2 Modification of the Terms and Conditions
				p The Company may modify the Terms and Conditions or Separate Terms and Conditions when the Company deems necessary, without providing prior notice to Users. The modification will become effective once the modified Terms and Conditions or Separate Terms and Conditions are posted on an appropriate location within the website operated by the Company. Users shall be deemed to have granted valid and irrevocable consent to the modified Terms and Conditions or Separate Terms and Conditions by continuing to use the Service. Users shall refer to the Terms and Conditions on a regular basis when using the Service, since a separate notification regarding the modification to Terms and Conditions may not be provided.

				h2 Application Stores
				p The Application can also be downloaded from third party application stores including but not limited to Google Play, Amazon App Store etc. You agree to comply with all third party terms and conditions & privacy policy, if any, applicable to the use of the Application or related services.StayYolo shall not be responsible for violation and infringement of any third party right, terms and conditions in connection with access, download or installation of the Application by You.

				h2 License
				p Subject to the Terms and compliance of the Terms hereof we shall grant You a license to use the Application and related services provided that (a) You shall use the Application solely for Your personal and lawful use only; (b) You will not, nor allow third parties on Your behalf (i) to resell or charge others for use of the Application (ii) to duplicate, disassemble, decompile, transfer, exchange or translate the Application, create derivative works of the Application of any kind whatsoever or attempt to reverse engineer, alter or modify any part of the Application; and (c)You warrant to otherwise comply with the terms and conditions of this Agreement (the “License”).

				p For avoidance of any doubt this License is personal, nonexclusive, nontransferable, non-sublicenseable, revocable and a limited license to download and use the Application on a mobile device that You own or control.


				h2 StayYolo Services

				p The Yolo Application and related services are currently made available to You by us free of any charge. The  Application is a messaging service that allows users to send messages share photos, videos, songs, etc. over the internet. We reserve the right to suspend or withdraw this Application or services which are part of it, at any time, without notice.

				p In order to access and use the features of the Service, you acknowledge and agree that you will have to provide us with your mobile phone number. You expressly acknowledge and agree that in order to provide the Service, We may periodically access your contact list and/or address book on your mobile device to find and keep track of mobile phone numbers of other users of the Service. When providing your mobile phone number, you must provide accurate and complete information. You hereby give your express consent to us to access your contact list and/or address book for mobile phone numbers in order to provide and use the Service. You are solely responsible for the status messages that you submit and that are displayed for your mobile phone number on our Service. You must notify us immediately of any breach of security or unauthorized use of your mobile phone. Although We will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of ours or others due to such unauthorized use.

				p You agree not to use or launch any automated system, including without limitation, "robots," "spiders," "offline readers," etc. or "load testers" such as wget, apache bench, mswebstress, httpload, blitz, Xcode Automator, Android Monkey, etc., that accesses the Service in a manner that sends more request messages to our servers in a given period of time than a human can reasonably produce in the same period by using a Yolo application, and you are forbidden from ripping the content unless specifically allowed. Notwithstanding the foregoing, We grant the operators of public search engines permission to use spiders to copy materials from the website for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. We reserves the right to revoke these exceptions either generally or in specific cases. While we don't disallow the use of sniffers such as Ethereal, tcpdump or HTTPWatch in general, we do disallow any efforts to reverse-engineer our system, our protocols, or explore outside the boundaries of the normal requests made by our clients. We have to disallow using request modification tools such as fiddler or whisker, or the like or any other such tools activities that are meant to explore or harm, penetrate or test the site. You must secure our permission before you measure, test, health check or otherwise monitor any network equipment, servers or assets hosted on our domain. You agree not to collect or harvest any personally identifiable information, including phone number, from the Service, nor to use the communication systems provided by the Service for any commercial solicitation or spam purposes. You agree not to spam, or solicit for commercial purposes, any users of the Service.


				h2 Code of Conduct
				p You represent and warrant that: (i) You have the authority and capacity to enter and bind Yourself to this Agreement; (ii) Your use of the Application or the site will be solely for purposes that are permitted by this Agreement; (iii) You will provide accurate information about Your mobile phone number and any other number on Your address list required for use of the Application, (iv) Your use of the Application or the site will comply with all applicable local, state, national or international laws (“Laws”) and will not violate any law, regulation, or contractual obligations, and further that (v) You will not misuse the Application and/ or the site and acknowledge and understand that “misuse” includes, but is not limited to using the Application and/ or the site in any manner that (a) violates any copyright, trademark, patent or any intellectual property right, discloses a trade secret or confidential information in violation of a confidentiality or non-disclosure agreement; (b) unsolicited advertising and messages, promotional materials, junk mail, spam etc; (c) is fraudulent, unlawful or contains or promotes defamatory or illegal information and activities, images, materials or descriptions; (d) defames, harasses, stalks, threatens or otherwise violates the legal rights of others or is invasive of another’s privacy rights; (e) that is vulgar, obscene, offensive, or contains pornography or nudity or otherwise objectionable (f) that is racially or ethnically offensive and encourages any conduct that would constitute a criminal offense or that gives rise to civil liability; (g) send or store material containing software viruses, worms, or other harmful computer code, files, scripts or programs; (h) attempt unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without express authorization of the owner of the system or network, (i) unauthorized attempt to monitor data or traffic on any network or system without express authorization of the owner of the system or network, (j) interference with service to any user, host or network including, without limitation, mail bombing, flooding, deliberate attempts to overload a system and broadcast attacks, (k) send harassing or threatening transmissions, (l) probe for means of gaining unauthorized access to computers or networks, (m) restrict or inhibit any other person from using this Application and or Site; and (vi) You will not impersonate any person or entity, or falsely state or otherwise misrepresent Yourself, Your age or Your affiliation with any person or entity.



				h2 Ownership
				p You acknowledge and agree that the Application, the Site and all trademarks, service marks and trade names and other intellectual property rights associated therewith are, and shall remain, the property of StayYolo and its licensors, as applicable. All content related to  StayYolo and business activities included on the Site and embedded in the Application, including any text, graphics, logos, button icons, images, audio clips and software, is the exclusive property of StayYolo or its licensors and is protected by applicable legislation concerning protection and preservation of intellectual property rights and applicable international treaties governing intellectual property. The compilation (meaning the collection, arrangement and assembly) of all content on the Site and Application is also the exclusive property of the StayYolo and is protected by applicable laws as stated above. All software used on the Site and the Application is the property of StayYolo or its software suppliers and protected by Indian and international copyright laws. Any use except as specifically permitted, including the reproduction, modification, distribution, transmission, republication, display or performance, of the content on the Site and the Application is strictly prohibited except as otherwise permitted by law. All StayYolo graphics, logos and service names are trademarks of the StayYolo or its affiliates. StayYolo’s trademarks may not be used in connection with any product or service that is not StayYolo's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits StayYolo. StayYolo’s trademarks may not be used in connection with any product or service except as authorised by StayYolo in writing.


				h2 Warranty Disclaimer
				p YOU AGREE THAT YOUR USE OF THE STAYYOLO SERVICE SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, STAYYOLO, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICE AND YOUR USE THEREOF. STAYYOLO MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SERVICE'S CONTENT AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICE, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE THROUGH THE ACTIONS OF ANY THIRD PARTY, AND/OR (V) ANY ERRORS OR OMISSIONSIN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE STAYYOLO SERVICE. STAYYOLO DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE STAYYOLO SERVICE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY USER STATUS SUBMISSION OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE. AND AGAIN, USE THIS JUST FOR FUN.


				h2 Limitation of Liability
				p IN NO EVENT SHALL STAYYOLO, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVERS, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY, (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE STAYYOLO CLIENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND/OR (VI) THE DISCLOSURE OF INFORMATION PURSUANT TO THESE TERMS OF SERVICE OR PRIVACY POLICY. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.

				p YOU SPECIFICALLY ACKNOWLEDGE THAT STAYYOLO SHALL NOT BE LIABLE FOR USER SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.

				p The Service is controlled and offered by Stayyolo from its facilities in India. StayYolo makes no representations that the StayYolo Service is appropriate or available for use in other locations. Those who access or use the StayYolo Service from other jurisdictions do so at their own volition and are responsible for compliance with local law.


				h2 Indemnification
				p You agree to indemnify, defend and hold harmless StayYolo, its subsidiaries, affiliates and agents and each of their respective officers, directors, employees, successors and assigns from and against any claim, proceeding, loss, damage, liability, cost, demand or expense (including but not limited to attorney's fees) of any kind arising out of: (i) Your access to or use of the Application, Site and related services; (ii) any breach by You of Your obligations under this Agreement; (iii) Your violation of the rights of a third party, including but not limited to infringement of any intellectual property, proprietary right or trade secret of any person or entity, or of any privacy or consumer protection right that is implicated herein; (iv) any violation of law or contractual obligation and any claims, demands, notices pursuant to such violation; (v) Your negligence or willful misconduct. These obligations will survive termination of this Agreement.


				h2 Force Majeure
				p StayYolo shall not be liable to you for any eventuality caused directly or indirectly by any act of God, wars (declared or undeclared), insurrections, acts of terrorism, acts of governments or boycotts, lockouts and other civil unrest, or any act of similar nature beyond StayYolo's reasonable control.

				h2 Amendments to this Agreement
				p We may in our sole discretion amend this Agreement from time to time without any prior notice. This may include adding new or different terms to, or removing terms from, this Agreement. Such change shall be notified on the company's website. Your use of the Application after such notice of any change shall be deemed to be an acceptance to the amended Agreement.

				h2 Termination
				p This Agreement commences on the date You accept the Terms of this Agreement. StayYolo may terminate or suspend use of the Application or the Site at any time in its discretion, without notice to You. Upon any termination for any reason, StayYolo shall have no liability to You and no further obligations under this Agreement.

				p Immediately upon termination, (a) the rights granted to You herein shall terminate; (b) You must cease all use of the Application and related services;

				p Additionally, Your rights under this Agreement will terminate automatically if You fail to comply with any term(s) of this Agreement including misuse of the Application or the Site.

				p All sections that may be reasonably interpreted to or are intended to survive this Agreement will survive this Agreement.



				h2 Entire Agreement
				p You acknowledge that You have read this Agreement, understand it and agree to be bound by its terms and conditions. You also agree that this Agreement read with the terms of the Privacy Policy is the complete and exclusive statement of the Agreement between StayYolo and You and supersedes all proposals, representations or prior agreements, oral or written, and any other communications between StayYolo and You relating to the subject matter of this Agreement.


				h2 Severability
				p If one or more provisions of this Agreement are held to be unenforceable under Applicable Law(s), the remainder of this Agreement shall be valid and enforceable.


				h2 Assignment
				p This Agreement may be assigned by StayYolo to its successors and assigns including if there is any re-organization of StayYolo.

				h2 Governing Law
				p This Agreement shall be governed by the laws of India. You irrevocably consent to the exclusive jurisdiction of courts in New Delhi, India for all disputes arising out of or relating to this Agreement.


				h2 Contact us
				p If You have any questions or concerns about this Privacy Policy or its implementation, You may contact us on the following e-mail ID:

				p E-mail: 
					a(href='mailto:hello@stayyolo.com?subject=Regarding terms and conditions') hello@stayyolo.com

				p We will strive to address Your feedback and concerns in a timely and effective manner
		

