#main {
    margin-top: 80px;
}



/*Intro section*/
#intro-box{
	margin-top: 70px;
	padding-left:15%;
	padding-right: 5%;
}

.landing-intro-text {
    font-size: 1.5em;
    font-weight: 400;
    color: #767d89;
    display: block;
    text-align: right;
    margin-top: 50px;
}

#intro-play-badge{
	margin-top:50px; 
	margin-right: -31px;
}


.background-phone{

	width: 240px;
    height: 480px;
    background: url('../images/nexus.png');
    padding: 55px 14px 14px 14px;
    background-position: center center;
    background-size: cover;
}


/*bot section*/

#bot-section-heading{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1.5em;
    color: #767d89;
    display: block;
    text-align: center;
}

.bot-section{
	margin-top: 50px;
	padding: 20px;
}

.bot-image{
	margin-top: 20px;
	width: 60px;
}

.bot-desc{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.1em;
	color: #91949C;
	width: 70%;
}


/*feature section*/

.feature-section{
	margin: 40px 0px 40px 0px;
	padding: 20px 60px 20px 60px;
}

.feature-head{
	font-size: 1.8em;
	font-weight: 800;
	padding: 30px
}

.feature-desc{
	padding: 0px 0px 20px 30px;
	font-size: 1.2em;
	font-weight:300;
	color: #91949C;
	width: 70%;
}

.feature-head-even{
	padding-left: 30%;
}
.feature-desc-even{
	padding-left: 30%;
	width: 100% 
}

.feature-image{
}



/*last-section*/

.last-section-text {
    font-weight: 700;
    font-size: 2em;
    margin-top: 40px;
    padding: 0;
}


.last-section-image{
	padding: 40px;
}



/*footer*/

.footer-text{
	margin: 30px 0px 0px 0px;
	padding: 20px;
}

.footer-image{
	padding-bottom: 20px;
}
